# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# data files
data/01-bronze/*
!data/01-bronze/
data/02-silver/*
!data/02-silver/
data/03-gold/*
!data/03-gold/